{% extends "snippets/base.html" %}

{% block title %} 
   SignUp  
{% endblock %}
{%block links %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
{% endblock %}
{% block header %} 
<style>
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@700&display=swap');
.submit-button{
    height: 45px;
    border-radius:10px;
    border:2px solid black;
    text-transform:uppercase;
    font-family: 'PP Neue Montreal', sans-serif;
    font-weight:700;
    font-size:14px;
    width: 100%;
    text-align: center;
    line-height: 10px; /* Center the text vertically */
    cursor: pointer;
    background-color:#fff;
    color:#000;
}
label{
    font-size:14px;
    font-family: 'PP Neue Montreal', sans-serif;
    font-weight:700;
}
.name h1{
    font-family: 'PP Neue Montreal', sans-serif;
    font-weight:500;
    text-decoration:underline;
    color:white;
    margin:10px;
    text-align:center;
}
.form-container{
    width:600px;
    height:500px;
    color:white;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
.grid{
    display:flex;
    justify-content:space-between;
}
input{
    height:40px !important;
    margin-bottom:14px !important; 
    background-color:#1c1c1c;
    font-size:12px;
    font-family: 'PP Neue Montreal', sans-serif;
    font-weight:500;
    border:1px solid black;
    border-bottom:1px solid #e6e6e6;
}
.centered-text{
    text-align:center;
    font-family: 'PP Neue Montreal', sans-serif;
    font-size:13px;
    font-weight:700;
    cursor:pointer;

}
@media (max-width: 600px) {
   .grid{
       flex-direction: column;
   }
   .form-container{
       width:300px;
   }
}
</style>
{% endblock %}
{% block content %}

{% include "snippets/navbar.html" %}
<div class="form-container">
    <div class="name">
        <h1>Sign-Up</h2>
    </div>
    <div class="form">
        <form method = "POST" action = "/api/signup">
            <div class="grid">
                <label for = "firstname"> Firstname* 
                    <input type="text" id="firstname" name="Fname" placeholder="" required>
                </label>
                <label for = "lastname"> Lastname* 
                    <input type="text" id="lastname" name="Lname" placeholder="" required>
                </label>
            </div>
    <label for="email">Email address*</label>
        <input type="email" id="email" name="Email" placeholder="" required>
    <label for="password">Password*</label>
        <input type="password" id="password" name="Password" placeholder="" required>

    <button class = "submit-button" type="submit">S u b m i t</button>
    <p class = "centered-text" onclick='window.location.href="/login"'>Go To Login*</p>
        </form>
    </div>
</div>

    
{% endblock %}

{% block  scripts%}
<script>
</script>
{% endblock %}


